<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  </head>
  <body>
    <h1>Home</h1>
    <p>Welcome to the home page!</p>
    <script>
      const socket = io();
      socket.on('connection', () => {
        console.log('Connected to server');
      });
      </script>
  </body>