<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  </head>
  <body>
    <h1>Home</h1>
    <p>Welcome to the home page!</p>
    <input type="button" onclick="sendEvent('click event')" onmouseover="sendEvent('mouse hover event')"  onmouseout="sendEvent('mouse out event')" onkeydown="sendEvent('key down event')" value="Send Event" />
    <script>
      const socket = io();
      socket.on('connection', () => {
        console.log('Connected to server');
      });

      const sendEvent = (eve)=> {
        socket.emit('event', { message: eve });
      }
      </script>
  </body>